html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
.footer-links {
	display: inline-block;
	margin-top: 10px;
}
.copyleft {
	color: #999;
	font-size: 10px;
	padding: 7px 15px;
}

/* Toggle header and navbar brand on mobile devices */
.navbar {
	margin-top: 15px;
}
.navbar-header {
	display:none;
}
@media (max-width: 767px) {
  #header { display: none; }
  .navbar-header { display:block; }
}

.header-half2 {
	border-radius: 4px;
	padding: 4px;
}

#searchbar {
	width: 270px;
}

/* Browse list in navbar */
.browse-list {
	width: 230px;
	font-size: 20px;
}
.browse-item-text {
	margin-left: 20px;
}
.browse-list .badge {
	background-color: #555;
	margin-top: 5px;
}
.browse-list .active .badge,
.browse-list a:hover .badge {
	background-color: #fff;
	color: #357ebd;
}

.glyphicon-sort-by-alphabet,
.glyphicon-sort-by-alphabet-alt {
	opacity: 0.5;
}

.match-lyric {
	color: red;
}
.tooltip-inner {
	max-width: 400px;
}

/* Breadcrumbs hacks to make microdata markup work */
.breadcrumb > span > li {
	display: inline-block;
}

.breadcrumb > span + span:before {
	padding: 0 0 0 5px;
	color: #cccccc;
	content: "/\00a0";
}

.breadcrumb > span > .active {
	color: #999999;
}

/* Home page */
.fancy-holder {
	position: relative;
	width: 50%;
	min-height: 300px;
	min-width: 360px;
}

.fancy-holder > .fancy-item .arrow {
	display: none;
}

.fancy-holder > .fancy-item.active .arrow {
	display: inline;
	margin: 4px -28px 0 0;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-box-shadow: 5px 0px 5px -3px rgba(51, 75, 103, 0.2);
	-moz-box-shadow: 5px 0px 5px -3px rgba(51, 75, 103, 0.2);
	box-shadow: 5px 0px 5px -3px rgba(51, 75, 103, 0.2);
	z-index: 3;
	height: 26px;
	width: 26px;
	background-color: #ebebeb;
	float: right;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.fancy-holder > .fancy-item > .col-md-3 {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 34px;
	clear: left;
	float: left;
	width: 25%;
}
.fancy-holder > .fancy-item:first-child > .col-md-3 {
	border-top: 1px solid #ddd;
}
.fancy-holder > .fancy-item > .col-md-3:hover {
	background-color: #ebebeb;
	cursor: pointer;
}
.fancy-holder > .fancy-item > .col-md-9 {
	display: none;
	width: 75%;
}
.fancy-holder > .fancy-item.active > .col-md-9 {
	right: 0;
	display: block;
	position: absolute;
	padding-right: 0px;
	height: 100%;
	margin-left: 285px;
}
.fancy-holder > .fancy-item.active > .col-md-3 {
	background-color: #ebebeb;
}

#hot-artists {
	width: 50%;
	min-width: 360px;
}
.carousel-inner .item {
	height: 300px;
	width: 100%;
}
.carousel-inner img {
	width: 100%;
}

.album-list {
	padding-left: 35px;
	overflow-y: auto;
}
.album-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.album-list::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.album-list::-webkit-scrollbar-thumb{
	background-color: #aad;
}

.album-list > a {
	display: inline-block;
	margin: 7px;
}
.album-list img {
	border-radius: 4px;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  #hot-artists { width: 100%; }
  .fancy-holder { width: 100%; }
}

/* SONG PAGE */

#song-album {
	float: right;
	clear: right;
	margin: 8px;
}

/* LYRICS PAGE */

.lyrics p {
	line-height: 10px;
}

/* BROWSE PAGE */

.letter-list {
	text-transform: uppercase;
	font-weight: bold;
}
